#title {
  font-size: 4rem;
}

#button,
.buttons {
  font-size: 2rem;
  margin: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.enabled {
  background-color: plum;
  color: white;
}

.hover {
  background-color: lightskyblue;
  box-shadow: 0 0 10px grey;
  font-weight: bold;
}

.disable {
  background-color: lightgreen;
}
