#box {
  background-color: plum;
  width: 200px;
  height: 200px;
  font-size: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  margin: 0;
}
