body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

#box {
  background-color: plum;
  width: 400px;
  height: 400px;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
}

#button {
  margin-top: 50px;
  font-size: 2rem;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: turquoise;
  color: white;
  cursor: pointer;
}
